<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufpe.cin.android.rainmember">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dashboard.ChooseComparingLocationActivity"></activity>
        <activity
            android:name=".alarm.CreateAlarmActivity"
            android:label="@string/title_activity_create_alarm"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.ufpe.cin.android.rainmember.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".br.ufpe.cin.android.rainmember.PreferencesActivity"></activity>

        <receiver
            android:name=".br.ufpe.cin.android.rainmember.alarm.AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ALARM_TRIGGERED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>